@model NewsLetterBanan.Models.ViewModels.ChatVM

@{
    ViewData["Title"] = "ChatWithHistory";
}

<form asp-action="ChatWithHistoryTempData" id="chatForm">
 
    <partial name="_ChatPartial" model="@Model" />
</form>
@section Scripts {
    <script>
        document.getElementById("chatForm").addEventListener("submit", function () {
            document.getElementById("loadingSpinner").classList.remove("d-none");
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
