@{
    ViewData["Title"] = "Subscription Success";
}

<h2>Subscription Successful!</h2>

<p>Your subscription has been successfully created and is now active.</p>


<a href="@Url.Action("MyPage", "User")" class="btn btn-primary">Return to My Page</a>
